.contact {
	width: 100%;
	min-height: 655px;
	padding-top: 70px;
	padding-bottom: 30px;

	&__container {
		display: flex;
		flex-wrap: wrap-reverse;
		row-gap: 60px;
		justify-content: center;
	}

	&__form-container {
		width: 100%;
		max-width: 470px;
		min-height: 100%;
	}

	&__title {
		width: 100%;
		font-size: 22px;
		color: rgb(65, 61, 75);
		font-weight: 700;
		font-family: "Playfair Display";
		letter-spacing: 1px;
		padding-bottom: 35px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 23px;
	}

	&__input {
		width: 100%;
		max-width: 460px;
		height: 45px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding-left: 20px;
		transition: all 0.2s ease-in;

		&::placeholder {
			color: rgba(65, 61, 75, 0.502);
		}
	}

	&__texarea {
		width: 100%;
		max-width: 460px;
		min-height: 200px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding-left: 20px;
		padding-top: 20px;
		transition: all 0.2s ease-in;

		&::placeholder {
			color: rgba(65, 61, 75, 0.502);
		}
	}

	input:-webkit-autofill {
		transition: all 5000s ease-in-out 0s;
	}

	&__texarea:hover,
	&__texarea:focus,
	&__input:hover,
	&__input:focus {
		border-color: rgb(0, 224, 208);
	}

	&__submit {
		width: 100%;
		max-width: 120px;
		height: 40px;
		border: 1px solid rgb(0, 224, 208);
		border-radius: 2px;
		transition: all 0.2s ease-in;
		font-size: 16px;
		font-family: "Hammersmith One";
		color: rgb(0, 224, 208);
		text-transform: uppercase;
		background-color: transparent;
		cursor: pointer;
	}

	&__submit:hover,
	&__submit:focus {
		background-color: darken($color: rgb(255, 255, 255), $amount: 10);
		color: darken($color: rgb(0, 224, 208), $amount: 7);
	}

	&__clients-container {
		width: 100%;
		max-width: 470px;
		padding-left: 90px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px 15px;

		img {
			width: 100%;
			max-width: 160px;
		}
	}

	@media (max-width: 959px) {
		& {
			padding-top: 40px;
		}

		&__clients-container {
			padding-left: 0px;
		}
	}
}
