.expertise {
	width: 100%;
	min-height: 755px;

	&__title {
		font-size: 22px;
		color: rgb(65, 61, 75);
		font-weight: 700;
		text-align: center;
		font-family: "Playfair Display";
		padding-top: 70px;
	}

	&__subtitle {
		font-weight: 400;
		color: rgba(47, 45, 53, 0.749);
		font-family: "Playfair Display";
		text-align: center;
		padding-top: 15px;
	}

	&__separator {
		background-color: rgba(65, 61, 75, 0.3);
		width: 50px;
		height: 2px;
		margin: 15px auto 50px;
	}

	&__content-container {
		width: 100%;
		min-height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__content {
		width: 100%;
		max-width: 310px;
		min-height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
		transition: all 0.2s ease-out;

		img {
			width: 50px;
			height: 42px;
			margin-bottom: 35px;
		}

		&:first-child {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}

		&:nth-child(2) {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
		&:nth-child(3) {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			border-left: 1px solid rgba(0, 0, 0, 0.1);
		}
		&:nth-child(4) {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
		}
		&:nth-child(6) {
			border-left: 1px solid rgba(0, 0, 0, 0.1);
		}

		@media (max-width: 949px) {
			&:nth-child(3) {
				border-right: 1px solid rgba(0, 0, 0, 0.1);
				border-left: none;
			}
			&:nth-child(4) {
				border-right: none;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
			&:nth-child(5) {
				border-right: 1px solid rgba(0, 0, 0, 0.1);
			}
			&:nth-child(6) {
				border-left: none;
			}
		}

		@media (max-width: 639px) {
			&:nth-child(1) {
				border-right: none;
			}
			&:nth-child(3) {
				border-right: none;
			}
			&:nth-child(5) {
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				border-right: none;
			}
		}
	}

	&__content:hover {
		box-shadow: inset 0 0 10px 1px gray;
	}

	&__services {
		color: rgb(65, 61, 75);
		text-align: center;
		font-weight: 900;
		margin-bottom: 25px;
		cursor: default;
	}

	&__text {
		color: rgba(51, 51, 51, 0.749);
		line-height: 1.571;
		text-align: center;
		font-weight: 300;
		max-width: 240px;
		cursor: default;
	}
}
